<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>
      {% block title %}
     {% endblock %}
    </title>
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<header>
      <nav class="navbar navbar-light" style="background-color: lightskyblue">
        <div class="container">
          <a class="navbar-brand" href="">
            <img src="{{ url_for('static', filename='img/logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
            Гид по России | Путешествия
          </a>
          <ul class="nav  nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#login">
                Войти
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">
                Поиск
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">
                О проекте
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    {% block content %}{% endblock %}
<div id="login">
    <div class="reveal-modal">
        <div class="window">
            <div>
                <a class="nav-link active close_btn" href="#">
                    X
                </a>
                <h2>Авторизация</h2>
            </div>
            <form action="" method="post" novalidate>
                <div>
                    {{ form.csrf_token }}
                </div>
                {% for field in form if field.name != 'csrf_token' %}
                    <div>
                        <p>
                            {% if loop.last %}
                                {{ field() }}
                            {% else %}
                                {{ field.label() }}
                                {{ field() }}
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </p>
                    </div>
                {% endfor %}
            </form>
            <div>
                Если нет аккаунта - <a href="#register">зарегестрируйтесь</a>
            </div>
        </div>
    </div>
</div>
<div id="register">
    <div class="reveal-modal">
        <div class="window">
            <div>
                <a class="nav-link active close_btn" href="#">
                    X
                </a>
                <h2>Регистрация</h2>
            </div>
            <form action="" method="post" novalidate>
                <div>
                    {{ form1.csrf_token }}
                </div>
                {% for field in form1 if field.name != 'csrf_token' %}
                    <div>
                        <p>
                            {% if loop.last %}
                                {{ field() }}
                            {% else %}
                                {{ field.label() }}
                                {{ field() }}
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </p>
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
</div>
    <footer>
        <h4> Copyring: &copy; Ялта - 2024</h4>
    </footer>
</body>
</html>