{% extends 'base.html' %}
{% block title %}
{{ route_list[2] }}
{% endblock %}
{% block content %}
<div class="route">
    <p><h1>{{ route_list[2] }}</h1></p>
    <img style="width: 500px;" src="{{ url_for('static', filename=route_list[4]) }}">
    <p><div>Протяженность - {{ route_list[3] }}</div></p>
    <div style="margin-left: 33%; margin-right: 33%;">{{ route_list[5] }}</div>
</div>
    <center><iframe src="{{ route_list[6] }}" width="800" height="500" frameborder="0"></iframe><center>
{% endblock %}
